# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
.idea/
.DS_Store
.vscode

src/.DS_Store
# Environments
.env
venv/
venv.bak/

# Log files
*.log

src/*.session
*.session
*.session-journal
